.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-left: 45px;
    margin-top: 25px;
}
.detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 20px;
}
.list {
    width: 160px;
    height: 60px;
    margin: 15px;
    display: flex;
    align-items: center;
}
.svg {
    margin: 10px;
}
.text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
}